
.translate-set-form-column-big {
  width: 50%;
}

.translate-set-form-checkbox {
  width: 15px;
}

#edit-container label {
  margin-right: 3px;
}

#edit-container .form-item {
  margin-right: 5px;
}
